<nav class="navbar navbar-default navbar-fixed-bottom theme-footer"
	role="navigation" style="margin-bottom: 0">
	<div class="pull-left theme-footer-left">
		<div class="navbar-text">&copy; 2016 - Caixa Econ&ocirc;mica
			Federal</div>
	</div>
	<div
		class="navbar-text header-title navbar-brand-middle hidden-xs theme-footer-middle">
		<div class="navbar-text"></div>
	</div>
	<div class="pull-right theme-footer-right">
		<div class="navbar-text">
			<span>foodtruck 0.0.1-SNAPSHOT</span>
		</div>
	</div>
</nav>