<div class="col-sm-offset-4 col-sm-4">
	<div class="panel panel-default">
		<div class="panel-heading">
			<span class="text-primary bold theme-main-h4 left">Por favor
				informe seu login</span>
		</div>
		<div class="panel-body">
			<form id="loginForm" name="loginForm" data-ng-submit="log.login()">

				<div class="form-group">
					<label for="login">Matrícula</label>
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-user"></i></span>
						<input type="text" class="form-control" id="login"
							data-ng-required="true" maxlength="7"
							data-ng-pattern="[A-Za-z][0-9][0-9][0-9][0-9][0-9][0-9]"
							autofocus="autofocus" data-ng-model="log.usuario.matricula"
							placeholder="Informe a matrícula">
					</div>
				</div>

				<div class="form-group">
					<label for="senha">Senha</label>
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-slack"></i></span>
						<input type="password" class="form-control" id="senha"
							data-ng-required="true" maxlength="30"
							data-ng-model="log.usuario.senha" placeholder="Informe a senha">
					</div>
				</div>

				<div class="row">
					<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="pull-right">
							<button class="btn btn-primary" type="submit"
								data-ng-disabled="loginForm.$invalid || log.usuario.logado">
								<i class="fa fa-sign-in fa-fw"></i> <span>Entrar</span>
							</button>
						</div>
					</div>
				</div>

			</form>
		</div>
	</div>
</div>
